@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Based styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #c0392b;
    text-shadow: none;
}
::selection {
    background: #c0392b;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* ==========================================================================
   jason's css
   ========================================================================== */

 
body {
	background: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}
   
hgroup	{
	padding: 20px;
}

/* header */

header.home-header {
	padding: 20px 0;
	/* margin-bottom: 30px; */
	width: 100%;
	background: white;
	height: 120px;
	z-index: 10;
	position: relative;
}

header hgroup {
	padding: 20px;
}


.container {
	margin: 0 auto;
	width: 1200px;
}

.header-logo-img {
	margin: 0 0 20px 0;
}

.header-nav {
	font-size: 12px;
	background: #e74c3c;
	color: white;
}

.header-nav-ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-nav-li	{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
}

.header-nav-link	{
	display: block;
	text-decoration: none;
	padding: 8px 60px;
	color: white;
}
/* 
.header-container {
	background-color: #fff;
} */

/*end header*/
/*footer*/

footer {
	background: #363636;
	padding: 0 0 60px 0;
	color: white;
}

footer ul {
	padding: 0 0 10px 0;
}

footer nav {
	margin: 0 auto;
}

.footer-container {

}

.footer-logo-img-wrapper {
	font-size: 0.6em;
	font-style: italic;
	/* padding: 40px 20px 20px 20px; */
}

.footer-logo-img-wrapper img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 15px;
}
.footer-logo-img-wrapper h2 {
	margin: 0;
	font-weight: normal;
}


.footer-nav-ul {
	margin: 0 auto;
	width: 1200px;
}

.footer-ul {
	display:inline-block;
	/* padding: 0 20px; */
}

footer li {
/* 	text-align: center; */
}

/*end footer*/
/*begin index body*/

ul {
	padding: 0 0 0 0;
}

li {
	list-style-type: none;
	list-style-position: outside;
}

[class^=home-tier] {
	z-index: 1
}

.banner {
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
	background: #2c3e50;
}

.home-tier-2 {
	text-align: center;
	padding: 20px 0 20px 0;
	height: 180px;
	background: #2c3e50;
	color: #fff;
}

.home-tier-2a {
	text-align: center;
	padding: 5px 0 5px 0;
	background: #2c3e50;
	color: #fff;
}

.grid-50.home-tier-2 {
	padding: 0 0 0 0;
	text-align: center;
}

.link-nodec {
	text-decoration: none;
	font-size: 1.25em;
}

.home-tier-4 {
	background: #e74c3c;
	color: #fff;
	height: 200px;
	padding: 20px 0 20px 0;
}

.image4 {
	float: left;
	margin: 0 10px 0 0;
	height: 80px;
}

.image4b {
	float: right;
	margin: 0 0 0 10px;
	height: 120px;
}

.home-tier-3 {
	height: 500px;
}

.about-2a {
	padding: 30px 0 20px 0;
	background: #34495e;
	color: #fff;
}

.about-2b {
	padding: 20px 0 30px 0;
/*	background: #ecf0f1; */
}

.about-2c {
	padding: 10px 0 20px 0;
	background: #e74c3c;
	color: #fff;
}

section.about-2c {
	height: 20em;
}

h2.about-2c {
	text-align: center;
}

.about-2d {
	padding: 10px 0 20px 0;
	background: #ecf0f1;
}

h2.about-2d {
	text-align: center;
	margin: 0 0 20px 0;
}

a.about-2d {
	font-size: 0.75em;
	padding-left: 20px;
	text-decoration: none;
}

.about-2c-table {
	display: inline-block;
	padding: 20px 20px 20px 20px;
}

.about-hr {
	width: 1200px;
	margin: 0 auto 20px auto;
}

.about-2c-div {
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.padding-a {
	padding: 20px 0 20px 0;
}

.padding-b {
	padding: 10px 0 10px 0;
}

.img-center {
	display: block;
	width: 100%;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

hr.about-gallery {
	width: 1200px;
	margin: 10px auto 10px auto;
	border-top: 1px solid #ecf0f1;
}

h1.about-gallery {
	text-align: center;
	padding-top: 1em;
}

/*dropdown menu for header*/

ul.header-menu, ul.header-menu ul.header-sub-menu {
    padding: 0;
    margin: 0;
}
ul.header-menu > li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul.header-menu a {
    text-decoration: none;
    color: white;
    padding: 15px 40px 15px 20px;
}
ul.header-menu > li > a {
    display: inline-block;
}
/*Make the parent of sub-menu relative*/
ul.header-menu li {
    position: relative;
}
/*sub menu*/
ul.header-menu li ul.header-sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
	font-size: 0.75em;
	padding: 0 0;
	margin: 0;
	width: 300px; 
}


ul.header-sub-menu li {
	display: block;
}
ul.header-sub-menu li:hover a{
	background-color: #e74c3c;
}

ul.header-sub-menu li a {
	padding: 10px 20px;
	background: #ea6153;
	display: block;
}
ul.header-menu li:hover ul.header-sub-menu {
    display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
