@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Based styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #c0392b;
	color: white;
    text-shadow: none;
}
::selection {
    background: #c0392b;
	color: white;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* ==========================================================================
   jason's css
   ========================================================================== */

html, body {
	height: 100%;
}
body {
	background: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	background: #363636;
}

section {
	background: #ecf0f1;
	padding: 30px 0 50px;
}

h1, h2, h3 {
	text-align: left;
	font-weight: 300;
}

a, a:link, a:visited {
	color: #333;
}

div.body-inner {
	min-height: 80%;
	position: relative;
	padding-bottom: 205px;
}

/* GLOBALS */

.container {
	margin: 0 auto;
	width: 1200px;
}
.content {
	margin-bottom: 1em;
}

/* header
header hgroup {
	float: left;
}
.header-logo-img-wrapper img {
	width: 280px;
	vertical-align: top;
}
.header-logo-img-wrapper {
	padding: 20px 0;
	margin: 0 0 20px 0;
}
.header-nav {


} */

header {
	width: 100%;
	background: white;
	padding: 20px 0;
	/* margin-bottom: 30px; */
	background: white;
	height: 100px;
	z-index: 10;
	position: relative;	
}
header hgroup {
	float: none;
}
header a, header a:link, header a:visited{
	color: white;
}
	
.header-logo-img-wrapper {
	padding: 0;
}
.header-logo-img-wrapper img {
	width: 400px;
}

.header-nav {
	font-size: 14px;
	margin-left: 0;
	background: #e74c3c;
	color: white;
	font-weight: 300;
	font-spacing: -2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

.header-nav-ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-nav-li	{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
}

.header-nav-link	{
	display: block;
	text-decoration: none;
	padding: 8px 20px;
	color: white;
	/* Background arrow */
	padding-right: 35px;
}

header .lang-toggle-wrapper {
	float: right;
	margin: 0 10px;
	font-size: 0.9em;
}
header a.lang-toggle {
	color: #2c3e50;
	display: inline-block;
	border: 1px solid #2c3e50;
	padding: .25em .5em;
	text-decoration: none;
}
header a.lang-toggle:hover {
	background-color: #2c3e50;
	color: white;
    -webkit-transition: background-color 600ms linear;
    -moz-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}
header a.lang-toggle.active {
	color: red;
	border-color: red;
}

/* 
.header-container {
	background-color: #fff;
} */

/*end header*/
/*footer*/

footer {
	padding-top: 20px;
	height: 200px;
	background: #363636;
	border-top: 5px solid #464646;
	color: white;
}
footer a, footer a:link, footer a:visited{
	color: white;
}
footer hgroup	{
	/* padding: 20px; */
}

footer ul {
	padding: 0 0 10px 0;
}

footer nav {
	margin: 0 auto;
}

.footer-description {
	padding: 20px 0;
}

.footer-mission-statement {
	font-size: 0.9em;
	color: #bbb;
	width: 40%;
}

.footer-logo-img-wrapper {
	font-size: 0.6em;
	font-style: italic;
	/* padding: 40px 20px 20px 20px; */
}

.footer-logo-img-wrapper img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 15px;
}
.footer-logo-img-wrapper h2 {
	margin: 0;
	font-weight: normal;
}

footer .copyright {
	margin: 1em 0;
	font-size: 0.8em;
	float: right;
	text-align: right;
}


.footer-nav-ul {
	margin: 0 auto;
	width: 1200px;
}

.footer-ul {
	display:inline-block;
	/* padding: 0 20px; */
}


/*end footer*/

/* sidebar */
aside h3 {
	margin: 0 0 0.5em;
}
aside .sidebar-nav {
	margin-right: 40px;
}



/*begin index body*/
/* Unordered List configuration */
ul {
	padding: 0 0 0 0;
}
li {
	list-style-type: none;
	list-style-position: outside;
}

ul.sidebar-nav {
	font-size: 0.8em;
	padding-left: 2em;
	list-style: square url('../img/arrow-right.png');
}
ul.sidebar-nav li {
	margin-bottom: .5em;
}


[class^=home-tier] {
	z-index: 1
}

.banner {
	padding: 0;
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	z-index: 1;
	background: #2c3e50;
	overflow: hidden;
	text-align: center;
}
.banner .banner-image {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0px;
}

.tier-blue {
	text-align: left;
	background: url('../img/bg/blue-cityscape.png') no-repeat scroll center bottom transparent;
	background-color: #2c3e50;
	color: #fff;
}
.tier-blue h2 img {
	height: 1.25em;
	vertical-align: middle;
	margin-right: .25em;
}
.tier-blue a {
	color: white;
}

/* == Home Tier stuff == */

.link-nodec {
	text-decoration: none;
	font-size: 1.25em;
}

.tier-red {
	background: #F36355;
	color: #fff;
}
.tier-red a {
	color: #fff;
}

.tier-last {
	padding-bottom: 120px;
}


/* == Business Connections ==*/
.home-tier-first {
	border-top: 4px solid #f1c40f;
}

.home-connections .business-tag {
	margin: 0 0 10px;
	width: 48%;
	margin-right: 2%;
	float: left;
}
.home-connections .business-tag a {
	display: block;
	padding: 10px;
	background: none rgba(255,255,255,0.8);
	background: #ecf0f1;
	color: #222;
	text-decoration: none;
}
.home-connections .business-tag span {
	font-size: 0.8em;
}


/* == Partners ==*/
.home-tier-partners {
	background: url('../img/bg/gray-hills.png') no-repeat scroll right bottom #ecf0f1;
}
.home-partner-logo {
	width: 100%;
}

/* == Halpers == */

.about-hr {
	width: 1200px;
	margin: 0 auto 20px auto;
}

.padding-a {
	padding: 20px 0 20px 0;
}

.padding-b {
	padding: 10px 0 10px 0;
}

.wide-img {
	width: 100%;
}


.img-center {
	display: block;
	width: 100%;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

hr.about-gallery {
	width: 1200px;
	margin: 10px auto 10px auto;
	border-top: 1px solid #ecf0f1;
}

.about-gallery {
	padding-top: 1em;
}
.about-gallery [class^=grid-] img {
	width: 100%;
	margin-bottom: 1em;
}


.col-center, .col-center h2 {
	text-align: center;
}
.col-center-image {
	margin: 2em 0 1em;
}
.col-center-image img {
	width: 120px;
	height: 120px;
}


/*dropdown menu for header*/

ul.header-menu, ul.header-menu ul.header-sub-menu {
    padding: 0;
    margin: 0;
}
ul.header-menu > li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul.header-menu a {
    text-decoration: none;
}
ul.header-menu > li > a {
	font-weight: 300;
    display: inline-block;
	border-right: 1px solid #d62c1a;
	background: url('../img/arrow-down.png') no-repeat right center transparent;
}
ul.header-menu > li:hover > a {
	background-color: #d62c1a;
}
/*Make the parent of sub-menu relative*/
ul.header-menu li {
    position: relative;
}
/*sub menu*/
ul.header-menu li ul.header-sub-menu {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
	font-size: 0.75em;
	padding: 0 0;
	margin: 0;
	width: 300px; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	border: 1px solid #e74c3c;
	border-top: none;
}


ul.header-sub-menu li {
	display: block;
}
ul.header-sub-menu li:hover a{
	background-color: #e74c3c;
}

ul.header-sub-menu li a {
	padding: 10px 20px;
	background: #ea6153;
	display: block;
}
ul.header-menu li:hover ul.header-sub-menu {
    display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.inline-icon {
	vertical-align: middle;
} 
   
.spaced {
	margin: 2em 0;
} 
   
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
